version: '3.8'

services:
  api:
    build: .
    
    container_name: fastapi-user-api
    
    ports:
      - "8000:8000"
    
    volumes:
      - .:/app
      
    restart: unless-stopped